@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/mdc-light-indigo/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.css';

body,
html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  font-family: sans-serif;
}
